torch==2.4.* 
torchvision==0.19.* 
torchaudio==2.4.*
pytorch-lightning==2.4.*
torchmetrics==1.4.*
u8darts>=0.30,<0.31
scikit-learn>=1.5,<1.6
pandas>=2.2,<2.3
pyarrow>=16,<17
numpy>=1.26,<2
tensorboard>=2.16,<3